<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.daoko.mapper.goodsMapper">
   <!-- 상품 관리 목록 -->
   <select id="goodsManage" resultType="kr.daoko.dto.GoodsDTO">
      select gdsThumbImg, gdsCode, gdsName, cateName, gdsPrice
      from goods g, category c
      where g.cateCode = c.cateCode
      group by gdsCode
   </select>
   
   <!-- 상품 조회 -->
   <select id="goodsView" resultType="kr.daoko.dto.GoodsDTO">
      select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsThumbImg, gdsDate, gdsView
      from goods
      where gdsCode = #{gdsCode}
   </select>
   <!-- 상품 등록 -->
   <insert id="addProduct">
      insert into goods(gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsThumbImg, gdsDate, gdsView)
      values (#{gdsCode}, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsDesc}, #{gdsImg}, #{gdsThumbImg}, SYSDATE(), 0)
   </insert>
   
   <!-- 상품 수정 -->
   <update id="modifyGoods">
      update goods
      set
         gdsName = #{gdsName},
         cateCode = #{cateCode},
         gdsPrice = #{gdsPrice},
         gdsDesc = #{gdsDesc},
         gdsImg = #{gdsImg},
         gdsThumbImg = #{gdsThumbImg},
         gdsDate = SYSDATE()
      where gdsCode = #{gdsCode}
   </update>
   
   <!-- 상품 삭 -->
   <delete id="deleteGoods">
      delete from goods
      where gdsCode = #{gdsCode}
   </delete>
</mapper>