<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.daoko.mapper.loginMapper">
	<!-- 로그인 처리 -->
	<select id="login" resultType="kr.daoko.dto.MemberDTO">
		select userId, userPw, userName, userEmail, userTel, userZipcode, userAddr1, userAddr2, userAuth, userRank
		from member
		where userId = #{userId}
	</select>
</mapper>