<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.daoko.mapper.memberMapper">
	<!-- 회원 목록 -->
	<select id="listmember" resultType="kr.daoko.dto.MemberDTO">
		select userId, userName, userTel, userAddr1, userRank, userAuth
		from member
	</select>
	
	<!-- 회원 정보 조회 -->
	<select id="viewmember" resultType="kr.daoko.dto.MemberDTO">
		select userId, userName, userEmail, userTel, userZipcode, userAddr1, userAddr2, userRank, userAuth
		from member
		where userId = #{userId}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="modifymember">
		update member
		set
			userName = #{userName},
			userEmail = #{userName},
			userTel = #{userTel},
			userZipcode = #{userZipcode},
			userAddr1 = #{userAddr1},
			userAddr2 = #{userAddr2},
			userRank = #{userRank},
			userAuth = #{userAuth}
		where userId = #{userId}
	</update>
</mapper>